#todo-h3 {
    font-size: 1.8vw;
    margin: 0.5vw 1vw;
    width: fit-content;
}

#status-column-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#todo-form {
    display: flex;
    flex-direction: row;
    margin: 0.5vw 2.7%;
    gap: 0.5vw;
    width: fit-content;
}

#todo-form-text {
    width: 19vw;
    border: 1px solid var(--grey-3);
    border-radius: 5px;
    padding: 0.5vw;
}

#todo-form-btn {
    border: 0;
    border-radius: 5px;
    background-color: var(--grey-3);
    color: var(--white);
    width: fit-content;
}


