.project-card {
    border: 1px solid var(--grey-2);
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.project-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.project-card-name {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 1.5vw;
    background: none;
}
