:root {
    --white: #f5f5f5;
    --grey-1: #dfdfdf;
    --grey-2: #818181;
    --grey-3: #525252;
    --black: #454545;
}

* {
    background-color: var(--white);
    width: 100%;
    font-family: 'Nunito', sans-serif;
    color: var(--grey-3);
    box-sizing:border-box
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

h1, h2,.easy-edit-editable-h2 > * {
    font-family: 'Melodrama', serif !important; 
}

.auth-content-area {
    display: flex;
    flex-direction: row;
}

.auth-content-h2 {
    font-size: 6vw;
    margin: 10vh 0 0 8vw;
}

.auth-content-p {
    width: fit-content;
    margin: 3vh 0 0 4vw;
    font-size: 2vw;
}

.auth-form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 8vw;
}

.auth-form {
    border: 2px solid var(--grey-3);
    border-radius: 5px;
    padding: 2vw 2vw 3vw;
    width: 30vw;
    margin-left: 8vw;
}

.auth-form-label {
    font-size: 1.5vw;
    color: var(--grey-2);
}

.auth-form-input {
    margin-bottom: 1vw;
    font-size: 1.5vw;
    border: 1.5px solid var(--grey-2);
    border-radius: 5px;
}

.auth-form-btn {
    font-size: 1.5vw;
    border: 0;
    border-radius: 5px;
    background-color: var(--grey-3);
    color: var(--white);
}

.auth-form-btn:hover, .add-proj-btn:hover {
    cursor: pointer;
    background-color: var(--grey-2);
}

.auth-error-message {
    font-size: 2vw;
}

.nav-btn:hover, #auth-h1:hover, .nav-btn-hover:hover {
    cursor: pointer;
    color: var(--black);
}

.nav-btn:hover, .nav-btn-hover:hover {
    background-color: var(--grey-1);
    border-radius: 10px;
}

.add-proj-btn {
    color: var(--white);
    background-color: var(--grey-3);
    border: 0;
    border-radius: 5px;
    width: 20vw;
    font-size: 1.8vw;
}

.easy-edit-component-wrapper > * {
    border: 0;
}