:root {
    --white: #f5f5f5;
    --grey-1: #dfdfdf;
    --grey-2: #818181;
    --grey-3: #525252;
    --black: #454545;
}

* {
    background-color: var(--white);
    width: 100%;
    font-family: 'Nunito', sans-serif;
    color: var(--grey-3);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

h1, h2 {
    font-family: 'Melodrama', serif;
}